nav{position:relative; margin: 0;float:right;}
.sf-menu ul {position:absolute;top:-999px; display:none;list-style: none /* left offset of submenus need to match (see below) */}
.sf-menu ul li {width:100%}
.sf-menu li {float:left;position:relative}

.sf-menu>li>a{display:block;position:relative; font-size: 14px; line-height: 18px; color:#a8a8a8;padding:33px 26px;text-align:center;}
.sf-menu>li>a:hover,
.sf-menu>li.current>a,
.sf-menu>li.current-menu-item>a,
.sf-menu>li.sfHover>a{background-color:#80b300;color:#fff;}

.sf-menu>li{margin-left:4px;}
.sf-menu>li:first-child{margin-left:0 !important;}
.sf-menu a{}

/*================================>> 2 Level <<========================================*/
.sf-menu li ul,.sf-menu li.sfHover ul{left:0;top:86px;width: 175px;padding:10px 0 7px; z-index:99; background: url(../images/sub_ul.png) 21px 0 no-repeat #FFF;}
.sf-menu li ul li{width:167px;margin: 0 4px 1px;}
.sf-menu li ul li a{display:block;font-size: 13px;padding: 6px 0 6px 17px;}
.sf-menu li li a:hover, .sf-menu li.sfHover li.sfHover>a{background-color:#8cba19;color:#fff;}

/*================================>> 3 Level <<========================================*/
.sf-menu li li ul{left:176px !important;top:-10px !important;background-image:none !important;}