#slider{background: url(../images/slider_bg.png) center bottom no-repeat;margin: 38px 0 0; padding: 0 5px 17px;position:relative;}
#slider .slider {width:950px;height:294px; overflow:hidden;}
#slider .items {display:none}

#slider .pagination {position: relative;z-index:999;padding: 0px 0 0 448px;position:absolute;bottom:-14px;}
#slider .pagination li {float:left;margin:0 0 0 2px;display:block;}
#slider .pagination li a {width:11px;height:11px;display:block; background: url(../images/pags.png) right 0 no-repeat;}
#slider .pagination li.current a, #slider .pagination li:hover a{background-position:0 0;}

#slider .banner {width:494px;height:112px;position:absolute;display:block;top:164px;font-family:Arial, Arial, Helvetica, sans-serif;font-size:40px;line-height:46px;color:#fff;background: url(../images/banner_bg.png) repeat;z-index:999;}
#slider .banner .box{padding: 15px 0 0 70px;letter-spacing:-1px;}
#slider .banner span{display:block;margin-top:-10px;}